<h1>Make your form here</h1>
<form method="POST" action="/pirates">
  Pirate's Name: <input type="text" name="pirate[name]">
  Pirate's Weight<input type="text" name="pirate[weight]">
  Pirate's Height<input type="text" name="pirate[height]">
  Pirate's Ship Name<input type="text" id="ship_name_1" name="pirate[ships][][name]">
  Pirate's Ship Type<input type="text" id="ship_type_1" name="pirate[ships][][type]">
  Pirate's Ship Booty<input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  Pirate's Ship Name<input type="text" id="ship_name_2" name="pirate[ships][][name]">
  Pirate's Ship Type<input type="text" id="ship_type_2" name="pirate[ships][][type]">
  Pirate's Ship Booty<input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" id="submit">
</form>
